@-webkit-keyframes ball-grid-beat {
    50% {
        opacity: 0.7; }

    100% {
        opacity: 1; } }

@keyframes ball-grid-beat {
    50% {
        opacity: 0.7; }

    100% {
        opacity: 1; } }

.ball-grid-beat {
    width: 57px; }
.ball-grid-beat > div:nth-child(1) {
    -webkit-animation-delay: -0.07s;
    animation-delay: -0.07s;
    -webkit-animation-duration: 1.53s;
    animation-duration: 1.53s; }
.ball-grid-beat > div:nth-child(2) {
    -webkit-animation-delay: 0.72s;
    animation-delay: 0.72s;
    -webkit-animation-duration: 0.94s;
    animation-duration: 0.94s; }
.ball-grid-beat > div:nth-child(3) {
    -webkit-animation-delay: 0.11s;
    animation-delay: 0.11s;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s; }
.ball-grid-beat > div:nth-child(4) {
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
    -webkit-animation-duration: 1.01s;
    animation-duration: 1.01s; }
.ball-grid-beat > div:nth-child(5) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s; }
.ball-grid-beat > div:nth-child(6) {
    -webkit-animation-delay: 0.18s;
    animation-delay: 0.18s;
    -webkit-animation-duration: 0.97s;
    animation-duration: 0.97s; }
.ball-grid-beat > div:nth-child(7) {
    -webkit-animation-delay: -0.09s;
    animation-delay: -0.09s;
    -webkit-animation-duration: 0.67s;
    animation-duration: 0.67s; }
.ball-grid-beat > div:nth-child(8) {
    -webkit-animation-delay: 0.42s;
    animation-delay: 0.42s;
    -webkit-animation-duration: 0.92s;
    animation-duration: 0.92s; }
.ball-grid-beat > div:nth-child(9) {
    -webkit-animation-delay: 0.52s;
    animation-delay: 0.52s;
    -webkit-animation-duration: 1.43s;
    animation-duration: 1.43s; }
.ball-grid-beat > div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    float: left;
    -webkit-animation-name: ball-grid-beat;
    animation-name: ball-grid-beat;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0; }
