@media (max-width:1200px){
.container{width:1170px}
}


@media (max-width:992px){
.container{width:970px}
.extensions-sec > .row > div {width: 50%;}
}


@media (max-width:768px){
.container {width:750px}
.extensions-sec > .row > div {width: 100%;}
}


@media (max-width:480px){
.extensions-sec > .row > div {width: 100%;}
.extention-bottom > li > button {padding: 15px;}
}