/*
Theme Name: Lifeline2
Theme URI: http://themes.webinane.com/wp/lifelin2
Author: Webinane
Author URI: http://themeforest.net/user/webinane
Description: Build the best charity or NGO website with Lifeline 2, the most easy to use WordPress Theme by <a href="http://webinane.com/">Webinane</a>
Version: 3.7.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: lifeline2
Gitlab Theme URI: https://gitlab.com/webinane/lifeline2.git
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
*/

.wp-caption {
    font-family: inherit;
}

.wp-caption-text {
    font-family: inherit;
}

.gallery-caption {
    font-family: inherit;
}

.bypostauthor {
    font-family: inherit;
}

.alignright {
    font-family: inherit;
}

.alignleft {
    font-family: inherit;
}

.aligncenter {
    font-family: inherit;
}

.sticky {
    font-family: inherit;
}

.screen-reader-text {
    font-family: inherit;
}